* {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* 요소를 숨긴다 */
.hidden {
  display: none;
}

.container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-top {
  height: 90px;
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */
}

.container-link {
  flex: 50%;
  display: flex;
  padding-left: 20px;
  align-items: flex-start;
  /* background-color: red; */
}

.container-weather {
  display: flex;
  flex-direction: row-reverse;
  flex: 80%;
  font-size: 1.2rem;
  size: 20px;
  /* background-color: darkcyan; */
}

.above-middle {
  flex-grow: 3.5;
}

.content-middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.item-clock {
  font-size: 230px;
  font-weight: bold;
  position: relative;
  /* background-color: yellowgreen; */
}

.item-greeting {
  font-size: 70px;
  font-weight: bold;
  /* background-color: aqua; */
}

.container-center-below {
  flex-grow: 2;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.container-list {
  /* background-color: blue; */
  align-self: center;
}
.container-bottom {
  flex-grow: 1.5;
  text-align: center;
  align-content: flex-end;
}

.quotes-string {
  font-size: 20px;
  font-weight: bold;
}
