.focus_today_input {
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: 3rem;
  margin-top: 1rem;
  width: 50rem;
  text-align: center;
}

.focus_today {
  grid-area: 1/1/2/2;
  display: flex;
  justify-items: center;
  align-items: top;
  flex-direction: column;
  visibility: visible;
  /* background-color: aliceblue; */
}

.focus_underline {
  border-bottom: 4px solid white;
  position: absolute;
  width: 50rem;
  margin-top: 150px;
}

.focus_today_container {
  display: grid;
  /* 수직방향 정렬 */
  /* 가로방향 요소 정렬 */
  /* 수직방향으로 요소의 아이템 정렬 */
  align-items: top;
  justify-content: center;
  justify-items: center;
  /* background-color: red; */
}

.today_container {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  visibility: hidden;
  /* visibility: visible; */
  /* background-color: aqua; */
}

.today_container_check_list_dot {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
}

.today_container_check input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: aliceblue;
}

.today_container_dot input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
