/* rem 최상의 폰트 크기에 따라 크기가 바뀜 */
/* vw,wh 뷰포트 값에 따라 크기가 바뀜 */

* {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* 요소를 숨긴다 */
.hidden {
  display: none;
}

.container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-top {
  height: 140px;
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */
}

.above-middle {
  flex-grow: 2;
  /* background-color: aliceblue; */
}

.content-middle {
  flex: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.item-clock {
  font-size: 230px;
  font-weight: bold;
  position: relative;
  /* background-color: yellowgreen; */
}

.item-greeting {
  font-size: 70px;
  font-weight: bold;
  /* background-color: aqua; */
}

.container-center-below {
  flex-grow: 1;
  display: flex;
  font-size: 50px;
  justify-content: center;
  /* align-items: top; */
  background-color: beige;
}

.container-list {
  /* background-color: blue; */
  align-self: center;
}
.container-bottom {
  flex-grow: 0.5;
  text-align: center;
  align-content: flex-end;
}

.quotes-string {
  font-size: 20px;
  font-weight: bold;
}
