@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  align-items: center;
  transition: transform ease-in-out 0.1s; /*변경하는데 걸리는 시간*/
}

.color-option:hover {
  transform: scale(1.2);
}

button,
label {
  all: unset; /*모든 스타일 제거*/
  padding: 10px 0px;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.3s;
}

button:hover {
  opacity: 0.85;
}

input#file {
  /*lable의 for과 input의 id가 같아야 한다*/
  display: none;
}

input#text {
  all: unset;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}
canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* justify-content는 주축(main axis)에 대한 콘텐츠의 정렬을 제어합니다.
 주축은 flexbox 컨테이너의 너비 방향입니다.  */
/* align-items는 교차축(cross axis)에 대한 콘텐츠의 정렬을 제어합니다. 
 교차축은 주축에 수직인 방향입니다. */
